.container {
  max-width: 121rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.btn-reset {
  border: none;
  background: transparent;
  cursor: pointer;
}

.stop-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.button {
  background: #1c57ae;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 70px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  padding: 1.5rem 2.8rem;
  color: var(--color-white);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.button:hover {
  background: var(--color-red-devil);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.item-social-network {
  width: 30px;
  height: 30px;
  background: -webkit-gradient(linear, left top, left bottom, from(#3874cb), to(#1c57ae));
  background: -o-linear-gradient(top, #3874cb 0%, #1c57ae 100%);
  background: linear-gradient(180deg, #3874cb 0%, #1c57ae 100%);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.item-social-network:hover .social-network {
  fill: var(--color-red-devil);
}

.social-network {
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  fill: #fff;
}

.extrabold-text {
  font-weight: 900;
}

.section-subtitle {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 0.4rem;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-regent-gray);
  position: relative;
  padding-left: 2.3rem;
}

.section-subtitle::before {
  content: url("../images/footnote.svg");
  position: absolute;
  top: -0.7rem;
  left: 0;
}

.section-title {
  font-size: 4.8rem;
  line-height: 6rem;
  text-transform: uppercase;
  color: var(--color-cinder);
  margin-top: 1.5rem;
}

.section-subtitle-white,
.section-title-white {
  color: var(--color-white);
}

.shadowed {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 99;
}

.shadowed-active {
  display: block;
}

:root {
  --color-black: #000;
  --color-white: #fff;
  --color-mariner: #3874cb;
  --color-fun-blue: #1c57ae;
  --color-red-devil: #7c0115;
  --color-gray: rgba(255, 255, 255, 0.3);
  --color-regent-gray: #8890a0;
  --color-cinder: #0d0c13;
  --color-raven: #78808f;
  --color-concrete: #f2f2f2;
  --color-mercury: #e9e9e9;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
header,
section,
footer {
  display: block;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

:root {
  font-size: 10px;
}

input,
button,
textarea,
select {
  font: inherit;
}

input::-ms-clear {
  display: none;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.header {
  padding: 4.6rem 0 8.4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__phone {
  font-weight: 600;
  font-size: 2.2rem;
  line-height: 0.8rem;
  color: var(--color-white);
  margin-right: 10rem;
}

.header__social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 7rem;
}

.header__social-networks a:not(:last-child) {
  margin-right: 2.6rem;
}

.header__btn {
  display: block;
}

.header__nav {
  margin-top: 4rem;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-item:not(:last-child) {
  margin-right: 6.5rem;
}

.header__nav-link {
  font-size: 1.5rem;
  line-height: 0.5rem;
  text-transform: capitalize;
  color: var(--color-white);
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  padding-bottom: 2px;
}

.header__nav-link:hover {
  color: var(--color-mariner);
  border-bottom: 1.5px solid var(--color-mariner);
}

.burger {
  position: relative;
  z-index: 110;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 4rem;
  height: 3rem;
  cursor: pointer;
}

.burger span,
.burger::before,
.burger::after {
  content: "";
  width: 100%;
  height: 1.5px;
  background-color: var(--color-white);
}

.burger::before {
  position: absolute;
  top: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.burger::after {
  position: absolute;
  bottom: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.burger-rotate span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.burger-rotate::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
}

.burger-rotate::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 45%;
}

.no-webp .hero {
  background-image: url("../images/background.jpg"); }

.hero {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white);
  z-index: 4;
}

.hero__slider {
  position: relative;
  overflow: hidden;
}

.hero__slider-container {
  position: relative;
  top: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero__slide {
  position: relative;
  top: 0;
  left: 0;
}

.hero__slide:not(:last-child) {
  margin-bottom: 2rem;
}

.hero__slide-content button {
  margin-bottom: 10rem;
}

.hero__title {
  font-weight: 200;
  font-size: 4.8rem;
  line-height: 7.6rem;
  text-transform: uppercase;
  width: 80%;
}

.hero__subtitle {
  font-weight: 200;
  font-size: 1.8rem;
  line-height: 2.5rem;
  width: 50%;
  margin-top: 2.3rem;
}

.hero__description {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 2rem;
  margin: 4.5rem 0 5rem 0;
}

.hero__item-description {
  padding-left: 2.7rem;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.6rem;
  width: 31%;
  position: relative;
  z-index: 20;
}

.hero__item-description::before {
  content: url("../images/check.svg");
  position: absolute;
  top: 0;
  left: 0;
}

.hero__slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  right: 0;
  top: 2rem;
}

.hero__slide-image {
  position: absolute;
  top: 8rem;
  right: 0;
}

.no-webp .hero__slide-label {
  background-image: url(../images/red-star.png); }

.hero__slide-label {
  position: absolute;
  top: 0;
  right: 5rem;
  width: 12.1rem;
  height: 12.1rem;
  font-size: 1.2rem;
  line-height: 1.9rem;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slide-label__title {
  font-weight: 800;
  text-transform: uppercase;
}

.slide-label__subtitle {
  font-weight: 400;
}

.slider-navigation__number {
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 7.6rem;
  text-transform: uppercase;
  color: var(--color-gray);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.slider-navigation__line {
  display: block;
  height: 35px;
  width: 1px;
  background: var(--color-white);
}

.number-active {
  font-size: 1.8rem;
  font-weight: 300;
  color: var(--color-white);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.services {
  padding: 8.5rem 0 12rem;
}

.services__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6.5rem;
}

.services__item {
  background: #d3d7e0;
  -webkit-box-shadow: 0px 6px 30px rgba(18, 17, 39, 0.15);
          box-shadow: 0px 6px 30px rgba(18, 17, 39, 0.15);
  border-radius: 12px;
  width: calc(33.33% - 11px);
  padding: 4.5rem 2.4rem 2rem 2.4rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item-title {
  font-size: 2.1rem;
  line-height: 2.9rem;
  color: var(--color-cinder);
  margin: 2.3rem 0 1.6rem 0;
}

.services__item-services {
  text-align: left;
  padding-left: 2.4rem;
}

.services__item-service {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #78808f;
  list-style: disc;
}

.services__item-service:not(:last-child) {
  margin: 0.5rem 0;
}

.services__item-line {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(18, 17, 39, 0.12);
  margin: 2.3rem 0;
}

.services__item-price {
  font-size: 2.4rem;
  line-height: 3.4rem;
  color: var(--color-mariner);
}

.services__item-price span {
  font-size: 4.8rem;
  line-height: 6.7rem;
  margin-top: auto;
}

.services__item-btn {
  margin: 2.3rem 0 1.6rem 0;
}

.services__item-clarification-text {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #78808f;
  width: 80%;
  margin: 0 auto;
}

.no-webp .car-chek {
  background-image: url("../images/car-chek_background.png"); }

.car-chek {
  padding: 10rem 0 9rem 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 10;
}

.car-chek::before {
  content: url("../images/car-chek_background-dark.png");
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  width: 30%;
  overflow: hidden;
}

.car-chek__image {
  position: absolute;
  top: 25%;
  right: 0;
  width: 80rem;
  height: 50rem;
  z-index: -1;
}

.car-chek__slider {
  margin-top: 4.7rem;
  max-width: 91rem;
  overflow: hidden;
}

.car-chek__slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.car-chek__slider-slide {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 3rem;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
}

.car-chek__slider-slide:not(:last-child) {
  margin-right: 4rem;
}

.car-chek__slider-item {
  background: #fff;
  -webkit-box-shadow: 0px 6px 30px rgba(136, 144, 160, 0.15);
          box-shadow: 0px 6px 30px rgba(136, 144, 160, 0.15);
  border-radius: 12px;
  padding: 3.2rem 2rem 5.9rem 2rem;
  text-align: center;
  width: calc(32.1% - 10px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.car-chek__item-img {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.car-chek__item-descr {
  margin-top: 3rem;
}

.car-chek__item-title {
  font-size: 1.8rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  color: var(--color-cinder);
  margin: 0 0 1.8rem 0;
}

.car-chek__item-subtitle {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.9rem;
  color: var(--color-regent-gray);
}

.car-chek__slider-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3.5rem 0 0 36rem;
}

.car-chek__slider-btn {
  width: 50px;
  height: 4px;
  background: #d3d7e0;
  -webkit-transform: skew(-60deg);
      -ms-transform: skew(-60deg);
          transform: skew(-60deg);
  -webkit-transition: all 0.8s ease;
  -o-transition: all 0.8s ease;
  transition: all 0.8s ease;
  cursor: pointer;
}

.car-chek__slider-btn:not(:last-child) {
  margin-right: 2.2rem;
}

.btn-active {
  background: #3874cb;
  width: 75px;
}

.stages-work {
  padding: 10.5rem 0 10rem 0;
}

.stages-work__content {
  margin-top: 9rem;
}

.stages-work__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  margin-left: 7rem;
}

.stages-work__description-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 24rem;
}

.stages-work__description-item:not(:last-child) {
  margin-right: 2.5rem;
}

.stages-work__description-text {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.2rem;
  text-align: center;
  color: var(--color-raven);
}

.stages-work__description-img {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5rem;
  height: 5rem;
  margin-right: 2rem;
}

.no-webp .warranties {
  background-image: url("../images/warranties-bg.jpg"); }

.warranties {
  color: var(--color-white);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 10.4rem;
  padding-bottom: 11.5rem;
  position: relative;
}

.warranties__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.warranties__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7.5rem;
  width: 70%;
}

.warranties__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}

.warranties__text:not(:last-child) {
  margin-right: 3rem;
}

.warranties__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 3rem;
  margin-top: 8rem;
}

.warranties__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 32%;
}

.warranties__item-img {
  min-width: 4.4rem;
  min-height: 4.4rem;
}

.warranties__item-descr {
  font-size: 1.6rem;
  line-height: 2.2rem;
  margin-left: 4.5rem;
}

.warranties__image {
  position: absolute;
  bottom: 0;
  right: 5rem;
}

.compilation {
  padding: 10rem 0;
}

.compilation__content {
  margin-top: 7.5rem;
}

.compilation__slider {
  overflow: hidden;
}

.compilation-slider__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.compilation-slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.compilation-slider__slide-images {
  width: 57rem;
  margin-right: 3rem;
}

.compilation-slider__image-main {
  border-radius: 12px 12px 0px 0px;
}

.compilation-slider__image-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.3rem;
  overflow: hidden;
}

.compilation-slider__image-more img {
  width: 140px;
  height: 100px;
}

.compilation-slider__image-more img:not(:last-child) {
  margin-right: 2rem;
}

.compilation-slider__title {
  font-size: 2.4rem;
  color: var(--color-cinder);
  margin-bottom: 2.5rem;
}

.compilation-slider__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.compilation-slider__description-titles {
  margin-right: 6rem;
}

.compilation-slider__description-title {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 3.5rem;
  color: var(--color-raven);
}

.compilation-slider__description-subtitle {
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3.5rem;
  color: var(--color-raven);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.compilation-slider__flaws {
  margin: 4.5rem 0 4.3rem 0;
}

.compilation-slider__flaws-title,
.compilation-slider__advantages-title {
  font-size: 1.6rem;
  color: var(--color-cinder);
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.compilation-slider__flaws-title h3,
.compilation-slider__advantages-title h3 {
  margin-left: 1.7rem;
}

.compilation-slider__flaws-title img,
.compilation-slider__advantages-title img {
  width: 3rem;
  height: 3rem;
}

.compilation-slider__flaws-subtitle,
.compilation-slider__advantages-item {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: var(--color-raven);
  margin-left: 5rem;
}

.compilation-slider__advantages-item {
  list-style: inside;
}

.compilation-slider__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3.5rem;
}

.compilation-slider__line span {
  width: 35px;
  height: 1px;
  background: var(--color-raven);
  opacity: 0.3;
  cursor: pointer;
}

.compilation-slider__line span:not(:last-child) {
  margin-right: 3rem;
}

.compilation-slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

.compilation-slider__button {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 7.6rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: uppercase;
  color: #78808f;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.compilation-slider__button:hover {
  color: var(--color-mariner);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.compilation-slider__button:not(:last-child) {
  margin-right: 4.8rem;
}

.compilation-slider__btn-active {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 7.6rem;
  color: var(--color-fun-blue);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none;
}

.search {
  background: var(--color-concrete);
  padding: 10.9rem 0 13.9rem 0;
  position: relative;
  z-index: 10;
}

.no-webp .search::before {
  background-image: url("../images/search-img-1.png"); }

.search::before {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30rem;
  height: 30rem;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.no-webp .search::after {
  background-image: url("../images/search-img-2.png"); }

.search::after {
  content: "";
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30rem;
  height: 30rem;
  top: 0;
  right: 0;
  z-index: -1;
}

.search__content {
  margin-top: 8.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.search__model,
.search__contacts {
  width: calc(50% - 15px);
}

.search__model,
.search__contacts-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3rem;
     -moz-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 3rem;
}

.search__input {
  background: rgba(18, 17, 39, 0.04);
  border: 1px solid rgba(18, 17, 39, 0.12);
  border-radius: 6px;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.5rem;
  color: var(--color-cinder);
  padding: 0.8rem 1.2rem 0.7rem 1.2rem;
}

.search__contacts-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.5rem;
}

.search__contacts-text,
.search__contacts-link {
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.search__contacts-text {
  color: var(--color-regent-gray);
  width: 50%;
}

.search__contacts-link {
  color: var(--color-mariner);
}

.input-text {
  width: 100%;
}

.input-select,
.input-name,
.input-tel {
  width: calc(50% - 15px);
}

.aside {
  position: fixed;
  top: 0;
  right: -50rem;
  opacity: 0;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  background-color: var(--color-cinder);
  padding: 4rem 3em;
  z-index: 100;
}

.aside__content {
  margin-top: 4rem;
}

.aside__contacts .header__phone {
  margin-top: 1rem;
}

.aside__contacts .header__social-networks {
  margin: 3rem 0;
}

.aside__nav-item:not(:last-child) {
  margin-bottom: 3rem;
}

.aside__nav-item .header__nav-link {
  font-weight: normal;
}

.aside__btn {
  margin-top: 3rem;
}

.aside-active {
  opacity: 1;
  right: 0;
}

.no-webp .footer {
  background-image: url("../images/footer-bg.jpg"); }

.footer {
  padding-top: 11rem;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white);
  position: relative;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10.5rem 0 5.1rem 0;
}

.footer__map {
  position: relative;
}

.footer__map::before {
  content: url("../images/footer-pic.svg");
  position: absolute;
  top: 40%;
  left: 53%;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10rem;
}

.footer__info-titles,
.footer__info-subtitles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__info-subtitles {
  margin-left: 5rem;
}

.footer__info-title {
  font-weight: 800;
  font-size: 1.7rem;
  line-height: 2rem;
  text-transform: capitalize;
}

.footer__info-title:not(:last-child) {
  margin-bottom: 4.5rem;
}

.footer__info-subtitle {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.footer__info-telephone {
  font-size: 3.6rem;
  line-height: 4rem;
  text-transform: capitalize;
  color: var(--color-mariner);
  margin-top: -1.5rem;
}

.footer__info-mail {
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 2.5rem;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--color-mariner);
  margin: 3rem 0 4.5rem 0;
}

.footer__info-messengers {
  margin: 4rem 0 3.2rem 0;
}

.footer__info-messengers,
.footer__info-social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__info-item:not(:last-child) {
  margin-right: 2.6rem;
}

.footer__section-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.3rem 0 4rem 0;
}

.footer__section-bottom-line {
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: 8rem;
  left: 0;
  background: var(--color-fun-blue);
}

.footer__section-bottom-link {
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 36%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--color-mercury);
}

@media screen and (max-width: 1460px) {
  .warranties__image {
    width: 40rem;
  }
}

@media screen and (max-width: 1200px) {
  .car-chek__image {
    width: 60rem;
    height: 40rem;
  }

  .warranties__image {
    width: 35rem;
  }

  .compilation-slider__flaws {
    margin: 3rem 0;
  }

  .search__contacts-text {
    width: 40%;
  }

  .footer__info {
    margin-left: 5rem;
  }

  .footer__info-subtitles {
    margin-left: 2rem;
  }

  .footer__map {
    width: 40rem;
    height: 25rem;
  }
}

@media screen and (max-width: 1165px) {
  .hero__slide-image {
    width: 60rem;
    height: 35rem;
  }

  .stages-work__description {
    margin-left: 4rem;
  }

  .warranties__image {
    width: 30rem;
  }
}

@media screen and (max-width: 1030px) {
  .hero__slide-image {
    width: 45rem;
    height: 30rem;
    top: 15rem;
  }

  .hero__title {
    width: 80%;
  }

  .hero__subtitle {
    width: 60%;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 4rem;
  }

  .warranties__item-descr {
    margin-left: 2rem;
  }

  .warranties__description {
    width: 80%;
  }

  .warranties__image {
    width: 25rem;
  }

  .compilation-slider__advantages-item {
    margin-left: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .services__item {
    padding: 4.5rem 1.5rem 2rem 1.5rem;
  }

  .car-chek__image {
    display: none;
  }

  .stages-work__description-item {
    font-size: 1.4rem;
    width: 24rem;
  }

  .stages-work__description {
    margin-left: 2rem;
  }

  .warranties__description {
    margin-top: 4rem;
    width: 100%;
  }

  .compilation-slider__slide-images {
    width: 45rem;
  }

  .compilation-slider__flaws {
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 900px) {
  .header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    position: relative;
    padding: 3rem 0 6rem 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }

  .header__logo {
    width: 10rem;
    height: 5rem;
    position: absolute;
    left: 0;
    top: 3rem;
  }

  .hero__slide-label {
    top: 15rem;
    right: 5rem;
  }

  .hero__title {
    width: 100%;
  }

  .hero__slide-image {
    width: 35rem;
    height: 20rem;
    top: 27rem;
    right: 3rem;
  }

  .hero.hero__description {
    width: 80%;
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 2rem;
  }

  .hero__item-description {
    width: 45%;
  }

  .hero__subtitle {
    width: 80%;
  }

  .car-chek__slider-item {
    padding: 2rem 1rem 3rem 2rem;
  }

  .car-chek__slider {
    width: 100%;
  }

  .car-chek__slider-slide {
    row-gap: 1.5rem;
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }

  .warranties__item {
    width: 40%;
  }

  .warranties__image {
    right: 2rem;
    width: 15rem;
  }

  .search::after,
  .search::before {
    width: 20rem;
    height: 20rem;
  }

  .search__contacts {
    position: relative;
  }

  .search__contacts-buttons {
    position: absolute;
    left: 0;
    bottom: -5rem;
    width: 100%;
  }

  .search__contacts-text {
    position: absolute;
    width: 100%;
    top: -5rem;
  }

  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10.5rem 0 5.1rem 0;
  }

  .footer__map {
    width: 100%;
    height: 50rem;
  }

  .footer__map img {
    width: 100%;
    height: 100%;
  }

  .footer__info {
    margin: 3rem auto 0 auto;
  }
}

@media screen and (max-width: 768px) {
  .button {
    padding: 1rem 2.8rem;
  }

  .hero__title,
  .section-title {
    font-size: 3.5rem;
    line-height: 6rem;
  }

  .slider-navigation__number {
    line-height: 4.5rem;
  }

  .header {
    padding: 3rem 0 4rem 0;
  }

  .header__phone {
    font-size: 1.8rem;
    margin-right: 2rem;
  }

  .header__social-networks a:not(:last-child) {
    margin-right: 1.5rem;
  }

  .header__nav {
    margin-top: 3rem;
  }

  .header__social-networks {
    margin-right: 2rem;
  }

  .header__nav-item:not(:last-child) {
    margin-right: 3rem;
  }

  .header__nav-link {
    font-size: 1.2rem;
  }

  .hero__slide-label {
    top: 13rem;
    right: 3rem;
  }

  .hero__subtitle {
    width: 70%;
  }

  .hero__slide-image {
    width: 25rem;
    height: 15rem;
    top: 25rem;
    right: 2rem;
  }

  .hero__description {
    width: 70%;
    -webkit-column-gap: 2rem;
       -moz-column-gap: 2rem;
            column-gap: 2rem;
    row-gap: 1rem;
    margin-bottom: 3rem;
  }

  .hero__slide-content button {
    margin-bottom: 5rem;
  }

  .services,
  .car-chek,
  .stages-work,
  .warranties,
  .compilation,
  .search {
    padding: 5rem 0;
  }

  .services__items {
    margin-top: 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .services__item {
    width: 80%;
    padding: 2rem 1rem;
  }

  .services__item:not(:last-child) {
    margin-bottom: 2rem;
  }

  .services__item-image {
    margin: 0 auto;
  }

  .services__item-title {
    margin: 1.5rem 0 1rem 0;
  }

  .services__item-service {
    line-height: 2rem;
  }

  .services__item-btn {
    width: 60%;
    margin: 0 auto;
  }

  .services__item-clarification-text {
    margin-top: 1rem;
  }

  .car-chek::before {
    width: 15%;
  }

  .car-chek__slider-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 2.5rem auto 0 auto;
  }

  .stages-work__content {
    margin-top: 3rem;
  }

  .stages-work__image {
    display: none;
  }

  .stages-work__description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }

  .stages-work__description-item {
    width: 100%;
    position: relative;
  }

  .stages-work__description-item:not(:last-child) {
    margin-bottom: 2rem;
  }

  .stages-work__description-text {
    text-align: left;
  }

  .stages-work__description-text:not(:last-child) {
    margin-right: 0;
  }

  .stages-work__description-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .warranties__description {
    margin-top: 3rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .warranties__text:not(:last-child) {
    margin-bottom: 2rem;
  }

  .warranties__image {
    display: none;
  }

  .warranties__item {
    width: calc(50% - 7.5px);
  }

  .warranties__items {
    -webkit-column-gap: 1.5rem;
       -moz-column-gap: 1.5rem;
            column-gap: 1.5rem;
    row-gap: 2rem;
    margin-top: 5rem;
  }

  .compilation__content {
    margin-top: 4rem;
  }

  .compilation-slider__slide {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .compilation-slider__slide-images {
    width: 80%;
    margin-right: 0;
  }

  .compilation-slider__slide-content {
    margin-top: 2rem;
    width: 100%;
  }

  .compilation-slider__title {
    text-align: center;
  }

  .compilation-slider__description {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .search {
    padding-bottom: 8rem;
  }

  .search__content {
    margin-top: 3rem;
  }

  .search__model {
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    row-gap: 1rem;
  }

  .search__contacts-inputs {
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    row-gap: 1rem;
  }

  .search__model,
  .search__contacts {
    width: calc(50% - 5px);
  }

  .search__input {
    font-size: 1.2rem;
  }

  .input-select,
  .input-name,
  .input-tel {
    width: calc(50% - 5px);
  }

  .footer {
    padding-top: 4rem;
  }

  .footer__content {
    margin: 3rem 0;
  }

  .footer__map {
    height: 100%;
  }

  .footer__section-bottom-line {
    bottom: 12rem;
  }

  .footer__section-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 0;
  }

  .footer__section-bottom-link {
    line-height: 3rem;
  }
}

@media screen and (max-width: 576px) {
  :root {
    font-size: 8px;
  }

  .hero__title {
    font-size: 3rem;
    line-height: 5rem;
  }

  .section-title {
    font-size: 2.5rem;
    line-height: 5rem;
    margin-top: 0.6rem;
  }

  .section-subtitle {
    font-size: 1rem;
  }

  .services,
  .car-chek,
  .stages-work,
  .warranties,
  .compilation,
  .search {
    padding: 3rem 0;
  }

  .header__content {
    display: none;
  }

  .header__burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .services__item {
    width: 100%;
  }

  .car-chek__slider-item {
    width: calc(50% - 7.5px);
  }

  .compilation-slider__advantages-item,
  .compilation-slider__flaws-subtitle {
    margin-left: 0;
  }

  .compilation-slider__slide-images {
    width: 100%;
  }

  .compilation-slider__button:not(:last-child) {
    margin-right: 2rem;
  }

  .compilation-slider__line span {
    width: 20px;
  }

  .search {
    padding-bottom: 8rem;
  }

  .search__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .search__model,
  .search__contacts {
    width: 100%;
  }

  .search__contacts {
    margin-top: 3rem;
  }

  .search__contacts-text {
    position: relative;
    top: 0;
    margin-bottom: 2rem;
  }

  .search__contacts-buttons {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    bottom: 0;
  }
}

@media screen and (max-width: 450px) {
  .services__item-btn {
    width: 100%;
  }

  .hero__subtitle {
    width: 95%;
    margin: 1.8rem 0 3rem 0;
  }

  .hero__slider-navigation {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .hero__description {
    width: 95%;
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    margin-bottom: 22rem;
  }

  .hero__item-description {
    width: calc(50% - 5px);
  }

  .hero__slide-image {
    right: 16rem;
    top: 33rem;
  }

  .hero__slide-label {
    top: 32rem;
    right: 3rem;
  }

  .hero button {
    display: block;
    margin: 0 auto 2rem auto;
  }

  .warranties__items {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 4rem;
  }

  .warranties__item {
    width: 100%;
  }

  .footer__info-subtitles {
    margin-left: 1rem;
  }

  .footer__info-subtitle {
    font-size: 1.4rem;
  }

  .footer__info-title {
    font-size: 1.5rem;
  }

  .footer__info-telephone {
    font-size: 2.5rem;
    margin-top: -1rem;
  }

  .footer__info-mail {
    font-size: 1.4rem;
    margin: 3rem 0 4.5rem 0;
  }

  .footer__info-messengers {
    margin: 3rem 0 2.5rem 0;
  }
}

@media screen and (max-width: 432px) {
  .hero__slide-image,
  .hero__slide-label {
    display: none;
  }

  .hero__description {
    margin-bottom: 5rem;
  }
}

@media screen and (max-width: 353px) {
  .car-chek__slider-item {
    width: 100%;
  }
}

.webp .hero { background-image: url(../images/background.webp); }

.webp .hero__slide-label { background-image: url(../images/red-star.webp); }

.webp .car-chek { background-image: url(../images/car-chek_background.webp); }

.webp .warranties { background-image: url(../images/warranties-bg.webp); }

.webp .search::before { background-image: url(../images/search-img-1.webp); }

.webp .search::after { background-image: url(../images/search-img-2.webp); }

.webp .footer { background-image: url(../images/footer-bg.webp); }