.stages-work {
  padding: 10.5rem 0 10rem 0;
  &__content {
    margin-top: 9rem;
  }
  &__description {
    display: flex;
    margin-top: 1rem;
    margin-left: 7rem;
  }
  &__description-item {
    display: flex;
    align-items: center;
    width: 24rem;
    &:not(:last-child) {
      margin-right: 2.5rem;
    }
  }
  &__description-text {
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
    color: var(--color-raven);
  }
  &__description-img {
    display: none;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
  }
}
