@media screen and (max-width: 1460px) {
  .warranties__image {
    width: 40rem;
  }
}
@media screen and (max-width: 1200px) {
  .car-chek__image {
    width: 60rem;
    height: 40rem;
  }
  .warranties__image {
    width: 35rem;
  }
  .compilation-slider__flaws {
    margin: 3rem 0;
  }
  .search__contacts-text {
    width: 40%;
  }
  .footer {
    &__info {
      margin-left: 5rem;
    }
    &__info-subtitles {
      margin-left: 2rem;
    }
    &__map {
      width: 40rem;
      height: 25rem;
    }
  }
}
@media screen and (max-width: 1165px) {
  .hero__slide-image {
    width: 60rem;
    height: 35rem;
  }
  .stages-work__description {
    margin-left: 4rem;
  }
  .warranties__image {
    width: 30rem;
  }
}
@media screen and (max-width: 1030px) {
  .hero {
    &__slide-image {
      width: 45rem;
      height: 30rem;
      top: 15rem;
    }
    &__title {
      width: 80%;
    }
    &__subtitle {
      width: 60%;
    }
  }
  .header__nav-item:not(:last-child) {
    margin-right: 4rem;
  }
  .warranties {
    &__item-descr {
      margin-left: 2rem;
    }
    &__description {
      width: 80%;
    }
    &__image {
      width: 25rem;
    }
  }
  .compilation-slider__advantages-item {
    margin-left: 3rem;
  }
}
@media screen and (max-width: 992px) {
  .services__item {
    padding: 4.5rem 1.5rem 2rem 1.5rem;
  }
  .car-chek__image {
    display: none;
  }
  .stages-work {
    &__description-item {
      font-size: 1.4rem;
      width: 24rem;
    }
    &__description {
      margin-left: 2rem;
    }
  }
  .warranties__description {
    margin-top: 4rem;
    width: 100%;
  }
  .compilation-slider {
    &__slide-images {
      width: 45rem;
    }
    &__flaws {
      margin: 1.5rem 0;
    }
  }
}
@media screen and (max-width: 900px) {
  .header {
    align-items: start;
    position: relative;
    padding: 3rem 0 6rem 0;
    justify-content: end;
    &__logo {
      width: 10rem;
      height: 5rem;
      position: absolute;
      left: 0;
      top: 3rem;
    }
  }
  .hero {
    &__slide-label {
      top: 15rem;
      right: 5rem;
    }
    &__title {
      width: 100%;
    }
    &__slide-image {
      width: 35rem;
      height: 20rem;
      top: 27rem;
      right: 3rem;
    }
    &.hero__description {
      width: 80%;
      column-gap: 3rem;
      row-gap: 2rem;
    }
    &__item-description {
      width: 45%;
    }
    &__subtitle {
      width: 80%;
    }
  }
  .car-chek {
    &__slider-item {
      padding: 2rem 1rem 3rem 2rem;
    }
    &__slider {
      width: 100%;
    }
    &__slider-slide {
      row-gap: 1.5rem;
      column-gap: 1.5rem;
    }
  }
  .warranties {
    &__item {
      width: 40%;
    }
    &__image {
      right: 2rem;
      width: 15rem;
    }
  }
  .search {
    &::after,
    &::before {
      width: 20rem;
      height: 20rem;
    }
    &__contacts {
      position: relative;
    }
    &__contacts-buttons {
      position: absolute;
      left: 0;
      bottom: -5rem;
      width: 100%;
    }
    &__contacts-text {
      position: absolute;
      width: 100%;
      top: -5rem;
    }
  }
  .footer {
    &__content {
      flex-direction: column;
      margin: 10.5rem 0 5.1rem 0;
    }
    &__map {
      width: 100%;
      height: 50rem;
      & img {
        width: 100%;
        height: 100%;
      }
    }
    &__info {
      margin: 3rem auto 0 auto;
    }
  }
}
@media screen and (max-width: 768px) {
  .button {
    padding: 1rem 2.8rem;
  }
  .hero__title,
  .section-title {
    font-size: 3.5rem;
    line-height: 6rem;
  }
  .slider-navigation__number {
    line-height: 4.5rem;
  }
  .header {
    padding: 3rem 0 4rem 0;
    &__phone {
      font-size: 1.8rem;
      margin-right: 2rem;
    }
    &__social-networks {
      & a:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    &__nav {
      margin-top: 3rem;
    }
    &__social-networks {
      margin-right: 2rem;
    }
    &__nav-item:not(:last-child) {
      margin-right: 3rem;
    }
    &__nav-link {
      font-size: 1.2rem;
    }
  }
  .hero {
    &__slide-label {
      top: 13rem;
      right: 3rem;
    }
    &__subtitle {
      width: 70%;
    }
    &__slide-image {
      width: 25rem;
      height: 15rem;
      top: 33rem;
      right: 0;
    }
    &__description {
      width: 70%;
      column-gap: 2rem;
      row-gap: 1rem;
      margin-bottom: 3rem;
    }
    &__slide-content button {
      margin-bottom: 5rem;
    }
  }
  .services,
  .car-chek,
  .stages-work,
  .warranties,
  .compilation,
  .search {
    padding: 5rem 0;
  }
  .services {
    &__items {
      margin-top: 4rem;
      flex-direction: column;
      align-items: center;
    }
    &__item {
      width: 80%;
      padding: 2rem 1rem;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    &__item-image {
      margin: 0 auto;
    }
    &__item-title {
      margin: 1.5rem 0 1rem 0;
    }
    &__item-service {
      line-height: 2rem;
    }
    &__item-btn {
      width: 60%;
      margin: 0 auto;
    }
    &__item-clarification-text {
      margin-top: 1rem;
    }
  }
  .car-chek {
    &::before {
      width: 15%;
    }
    &__slider-buttons {
      justify-content: center;
      margin: 2.5rem auto 0 auto;
    }
  }
  .stages-work {
    &__content {
      margin-top: 3rem;
    }
    &__image {
      display: none;
    }
    &__description {
      flex-direction: column;
      margin: 0;
    }
    &__description-item {
      width: 100%;
      position: relative;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    &__description-text {
      text-align: left;
      &:not(:last-child) {
        margin-right: 0;
      }
    }
    &__description-img {
      display: flex;
    }
  }
  .warranties {
    &__description {
      margin-top: 3rem;
      flex-direction: column;
    }
    &__text {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
    &__image {
      display: none;
    }
    &__item {
      width: calc(50% - (15px / 2));
    }
    &__items {
      column-gap: 1.5rem;
      row-gap: 2rem;
      margin-top: 5rem;
    }
  }
  .compilation__content {
    margin-top: 4rem;
  }
  .compilation-slider {
    &__slide {
      flex-direction: column;
      align-items: center;
    }
    &__slide-images {
      width: 80%;
      margin-right: 0;
    }
    &__slide-content {
      margin-top: 2rem;
      width: 100%;
    }
    &__title {
      text-align: center;
    }
    &__description {
      justify-content: center;
    }
  }
  .search {
    padding-bottom: 8rem;
    &__content {
      margin-top: 3rem;
    }
    &__model {
      column-gap: 1rem;
      row-gap: 1rem;
    }
    &__contacts-inputs {
      column-gap: 1rem;
      row-gap: 1rem;
    }
    &__model,
    &__contacts {
      width: calc(50% - (10px / 2));
    }
    &__input {
      font-size: 1.2rem;
    }
  }
  .input-select,
  .input-name,
  .input-tel {
    width: calc(50% - (10px / 2));
  }
  .footer {
    padding-top: 4rem;
    &__content {
      margin: 3rem 0;
    }
    &__map {
      height: 100%;
    }
    &__section-bottom-line {
      bottom: 12rem;
    }
    &__section-bottom {
      flex-direction: column;
      padding: 2rem 0;
    }
    &__section-bottom-link {
      line-height: 3rem;
    }
  }
}
@media screen and (max-width: 576px) {
  :root {
    font-size: 8px;
  }
  .section-title {
    font-size: 2.5rem;
    line-height: 5rem;
    margin-top: 0.6rem;
  }
  .section-subtitle {
    font-size: 1rem;
  }
  .services,
  .car-chek,
  .stages-work,
  .warranties,
  .compilation,
  .search {
    padding: 3rem 0;
  }
  .header {
    &__content {
      display: none;
    }
    &__burger {
      display: flex;
    }
  }
  .services__item {
    width: 100%;
  }
  .car-chek__slider-item {
    width: calc(50% - (15px / 2));
  }
  .compilation-slider {
    &__advantages-item,
    &__flaws-subtitle {
      margin-left: 0;
    }
    &__slide-images {
      width: 100%;
    }
    &__button:not(:last-child) {
      margin-right: 2rem;
    }
    &__line span {
      width: 20px;
    }
  }
  .search {
    padding-bottom: 8rem;
    &__content {
      flex-direction: column;
    }
    &__model,
    &__contacts {
      width: 100%;
    }
    &__contacts {
      margin-top: 3rem;
    }
    &__contacts-text {
      position: relative;
      top: 0;
      margin-bottom: 2rem;
    }
    &__contacts-buttons {
      position: relative;
      flex-direction: column;
      bottom: 0;
    }
  }
}
@media screen and (max-width: 450px) {
  .services__item-btn {
    width: 100%;
  }
  .hero {
    &__subtitle {
      width: 95%;
      margin: 1.8rem 0 3rem 0;
    }
    &__slider-navigation {
      top: 50%;
      transform: translate(0, -50%);
    }
    &__description {
      width: 95%;
      column-gap: 1rem;
      margin-bottom: 22rem;
    }
    &__item-description {
      width: calc(50% - (10px / 2));
    }
    &__slide-image {
      right: 16rem;
      top: 37rem;
    }
    &__slide-label {
      top: 32rem;
      right: 3rem;
    }
    & button {
      display: block;
      margin: 0 auto;
    }
  }
  .warranties {
    &__items {
      flex-wrap: nowrap;
      flex-direction: column;
      margin-top: 4rem;
    }
    &__item {
      width: 100%;
    }
  }
  .footer {
    &__info-subtitles {
      margin-left: 1rem;
    }
    &__info-subtitle {
      font-size: 1.4rem;
    }
    &__info-title {
      font-size: 1.5rem;
    }
    &__info-telephone {
      font-size: 2.5rem;
      margin-top: -1rem;
    }
    &__info-mail {
      font-size: 1.4rem;
      margin: 3rem 0 4.5rem 0;
    }

    &__info-messengers {
      margin: 3rem 0 2.5rem 0;
    }
  }
}
@media screen and (max-width: 432px) {
  .hero {
    &__slide-image,
    &__slide-label {
      display: none;
    }
    &__description {
      margin-bottom: 5rem;
    }
  }
}
@media screen and (max-width: 353px) {
  .car-chek__slider-item {
    width: 100%;
  }
}
